development: &defaults
  app_id: 150263725027202
  client_id: aa5f6278677b856c359e75acca33bb05
  client_secret: 04f39d1b7d7d8645fa3dfc40d21b30de
  perms: read_stream,publish_stream,offline_access,manage_pages,user_checkins,friends_checkins,user_photos,read_insights,user_interests,user_hometown,user_groups,user_events,user_education_history,user_birthday,user_activities,publish_checkins

test:
  <<: *defaults

production:
  <<: *defaults