<h1>Listing matches</h1>

<table>
  <tr>
    <th>Match id1</th>
    <th>Match id2</th>
    <th>Recommender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  Welcome to the match page!
</table>

<br />

<%= link_to 'New Match', new_match_path %>
