
<div id="invite"> </div>
Welcome to this page!

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<!-- Remote jQuery with local fallback; taken from HTML5 Boilerplate http://html5boilerplate.com -->
<!-- jQuery version might not be the latest; check jquery.com -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<script>
  FB.init({
    appId  : 122349161170258,
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });

  $.ajax({
    type:"GET",
    url: "/matches/invite?id=17",
    datatype: 'text',
    success: function(html) {
      var ele = $('#invite')[0];
      ele.innerHTML = html;
      FB.XFBML.parse(ele);
    }
  });


</script>